.box{background-color: rgb(25, 39, 34);border-color: black;
color: aliceblue;}
h1{color: rgb(202, 196, 231);}
body{background-color: black;}
.box1{color: rgb(4, 6, 6);
background-color: rgb(140, 177, 101);
border-width: 5px;
border-color: rgb(255, 255, 255);
border-style: solid;}
.box2{background-color: rgb(255, 207, 207);
color: rgba(75, 53, 33, 0.918);
size: 0cap;}
.box3{background-color: rgb(147, 147, 228);}
.box4{background-color: rgb(111, 88, 133);}
#list{color: rgb(255, 255, 255);}
h2{
    text-align: center;
    text-transform: capitalize;
    background-color: aquamarine;
    border-radius: 50%;
    
    
    } 
 h1{border-width: 2px
        ; 
    border-color: rgb(138, 193, 193);
border-style: dashed; 
border-radius: 10%;
display: block;
position: fixed;
background-color: black;
width: 100%;
}
#box{width: 200px;
    height: 50px;
border:5px solid yellow ;
color: rgb(33, 69, 69);
text-align:right ;
background-color:#f09878;
} #navbar{height: 60px;
    background-color: black;
    }
    *{ color: antiquewhite;}
    button{background-color: #f08804;}
    #logo{color: #f08804;
    font-size:25px ;}
    a{ margin-right: 150px;
    text-decoration: none;}
    input{color: black;}
    h2{color:black}